name: 打包应用并上传
on:
  push:
    branches:
      - master

jobs:
  build:
     # runs-on 指定 job 任务运行所需要的虚拟机环境
    runs-on: ubuntu-latest
    steps:
      # 获取源码
      - name: 迁出代码
        uses: actions/checkout@master
      # 安装 node10
      - name: 安装 node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.0.0
      # 安装依赖
      - name: 安装依赖
        run: npm install
      # 打包
      - name: 打包
        run: npm run build
      # 上传 阿里云
      - name: 发布到阿里云
        uses: easingthemes/ssh-deploy@2.1.1
        env:
          # 私钥
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          # scp 参数
          ARGS: "-avzr --delete"
          # 元目录
          SOURCE: "dist"
          # 服务器 IP 地址
          REMOTE_HOST: ""
          # 用户
          REMOTE_USER: ""
          # 目标地址
          TARGET: "/root/vue-in-action"